.App {
  text-align: center;
  font-family: 'Super Smash'
}

.App .wallpaper {
  height: 40vmin;
}

.App-header {
  background-color: black;
}

@font-face{
  font-family: 'Super Smash';
  src:url('./super_smash.ttf')
}
